.menugeneral{
    width: 100%;
    height: 50px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logogauche{
    border: 2px solid blue;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2%;
}

.menudroite{
    border: 2px solid green;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2%;
    width: 65%;
    display: flex;
    justify-content: flex-end;
}

.menudroite a{
    margin-left : 1%;
}